h1 {
 color: red;

font-weight: 900;
font-size: 60px;
text-shadow: 1px 13px 1px black;
}

body {
background-color: green;
color: yellow;

}






#taipan_mensi_img {
width:400px;
height:300px;
}



h2 {
text-shadow: 4px 5px 6px black;
font-size:35px;
color: white;
}



